html{
  background-color:#1a1a1a;
  padding-left:20em;
  display:flex;
  vertical-align: middle;
  margin:auto;
  align-content:center;
  justify-content: center;
}
.container{
  
  width:60em;
  height: 20em;
  
}
#chest{
  z-index:0;
  position: absolute;
  width: 50em;
  height:50em;
}
#text{
  position:relative;
  color:white;
  z-index:1;
  background-image: url(https://cdn.glitch.global/4a7df820-baeb-4964-a116-d8ae284b35e2/text-frame.png?v=1743044873693);
  width:80em;
  height:30em;
  top:50%;
  right:35%;
  background-size: cover;
  background-position: center;
  text-align:center;

}
#text p{
  font-size: 35px;
  position:relative;
  top:45%;
}
/* ill change this later */
