html{
  background-color:#1a1a1a;
  display:flex;
  vertical-align: middle;
  justify-content: center;
  font-family: Arial, sans-serif;
  color:white;
}
.container{
  width:60em;
  height: 20em;
  
}
#chest{
  z-index:0;
  position: absolute;
  width: 55em;
  height:55em;
  right:25%;
}
#text-frame{
  margin-left:10em;
  position:relative;
  z-index:1;
  background-image: url(https://cdn.glitch.global/4a7df820-baeb-4964-a116-d8ae284b35e2/text-frame.png?v=1743044873693);
  width:80em;
  height:35em;
  top:45%;
  right:35%;
  background-size: cover;
  background-position: center;
  text-align:center;

}
#text{
  font-size: 35px;
  position:relative;
  top:45%;
}
#continue{
  position:relative;
  top:45%;
  font-size: 20px;
  font-style: italic;
}
#div1{
  width: 55em;
  height:55em;
  background-color:white; 
}
/* ill change this later */
