html {
  background-color: #1a1a1a;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
}
button {
  font-size: 30px;
  text-align: center;
  margin: 1%;
  width:30%;
  padding: 10% 0 10% 0;
  text-align: center;
  background-color: #ff4444;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
button:hover{
  background-color: #cc0000;
}
.container {
  width: 60em;
  height: 39em;
}
.rows
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  gap:4%;
}
#chest {
  z-index: 0;
  position: absolute;
  width: 45em;
  height: 45em;
  right: 30%;
}
#text-frame {
  margin-left: 10em;
  position: relative;
  z-index: 1;
  background-image: url(https://cdn.glitch.global/4a7df820-baeb-4964-a116-d8ae284b35e2/text-frame.png?v=1743044873693);
  width: 80em;
  height: 35em;
  top: 10%;
  right: 35%;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#text {
  font-size: 35px;
  position: relative;
  top: 45%;
}
#continue {
  position: relative;
  top: 45%;
  font-size: 20px;
  font-style: italic;
}
#content{
  display:inline-block;
  margin:0;
  padding:10px;
  border:0;
  gap: 10px;
}
#keypad {
  display: flex;
  flex-direction: column;
  float:right;
  width: 30em;
  height: 50em;
  align-content: center;
  border-style:none;
  padding:5em;

}
#display {
  width: 26em;
  height: 10em;
  padding: 1em;
  border-style:solid;
  border-width: 1%;
  border-color: red;
  align-content:center;
  
}
#display p{
  font-size: 20px;
  font-style:italic;
}

#riddle{
  float:left;
}
#key_acquired{
  display: inline-block;
  justify-content:center;
  align-content:center;
  text-align: center;
}
#continue_button{
  font-size:25px;
  padding: 5%;
  text-align: center;
}

