body {
    background-color: #fdf6ec;
    color: #111;
    font-family: "broadsheet", serif;
    font-weight: 400;
    font-style: normal;
    margin: 20em;
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.content-wrapper {
  max-width: 700px;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 6px 6px 0 #aaa;
  text-align: center;
}

.narration {
  font-size: 1.2em;
  margin-bottom: 1em;
  line-height: 1.6;
}

.scene-image {
  width: 100%;
  max-width: 600px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}

.button-wrapper {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}

.choice-button {
  border: 2px solid #000;
  border-radius: 12px;
  padding: 1em;
  width: 180px;
  transition: transform 0.2s ease;
}

.choice-button:hover {
  background-color: black;
  color: #ffffff
}

.button-image {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.5em;
  border: 1px solid #000;
}

.button-label {
  font-weight: bold;
  font-size: 1em;
}
