body {
  background-color: #000;
  color: #f2f2f2;
  font-family: "broadsheet", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 2em;
  text-align: center;
}


.door-row {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.door-option {
  width: 300px;
  background-color: #fdf6ec;
  border: 4px solid #000;
  border-radius: 16px;
  padding: 1em;
  transition: transform 0.3s ease;
}

.door-option:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.door-option img {
  width: 100%;
  border-radius: 12px;
  display: block;
  margin-bottom: 1em;
}

.door-label {
  font-size: 1.2em;
  color: #fdf6ec;
  text-shadow: 1px 1px 1px #000;
  margin-top: 0.5em;
}
